<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leezw.springbootinit.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.leezw.springbootinit.model.entity.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="unionId" column="unionId" jdbcType="VARCHAR"/>
        <result property="mpOpenId" column="mpOpenId" jdbcType="VARCHAR"/>
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="userAvatar" column="userAvatar" jdbcType="VARCHAR"/>
        <result property="userProfile" column="userProfile" jdbcType="VARCHAR"/>
        <result property="userRole" column="userRole" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,unionId,mpOpenId,
        userName,userAvatar,userProfile,
        userRole,createTime,updateTime,isDelete
    </sql>

    <update id="update" parameterType="com.leezw.springbootinit.model.entity.User">
        UPDATE user
        <set>
            <if test="null != userAccount and '' != userAccount">userAccount = #{userAccount},</if>
            <if test="null != userPassword and '' != userPassword">userPassword = #{userPassword},</if>
            <if test="null != unionId and '' != unionId">unionId = #{unionId},</if>
            <if test="null != mpOpenId and '' != mpOpenId">mpOpenId = #{mpOpenId},</if>
            <if test="null != userName and '' != userName">userName = #{userName},</if>
            <if test="null != userAvatar and '' != userAvatar">userAvatar = #{userAvatar},</if>
            <if test="null != userProfile and '' != userProfile">userProfile = #{userProfile},</if>
            <if test="null != userRole and '' != userRole">userRole = #{userRole},</if>
            <if test="null != createTime ">createTime = #{createTime},</if>
            <if test="null != updateTime ">updateTime = #{updateTime},</if>
            <if test="null != isDelete ">isDelete = #{isDelete}</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>
